
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b45b8;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(0, 41, 175);
}

body{
  background-color: rgb(127, 155, 245);
}

.box1{
  background-color: antiquewhite;
  width: auto;
  height: auto;
   border: 10px solid rgb(0, 41, 175);
  border-radius: 10px;
  padding: 70px;
  margin: 40px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p{
  font-size: 20px;
  text-align: justify;
  width: auto;
}
